body{
	padding: 0;
	margin: 0;
	/*font-family:'Source Sans Pro', sans-serif;
	font-size: 0.94em;
	color: #00416d;
	font-style: normal;
	text-align: center;
	line-height: 0.8em;
	letter-spacing: 0em;*/
}

#Home {
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	height: 100vh;
}

nav{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 4%;
	z-index: 4;


}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:#fff;
	border-radius:50px;
	border: 1px solid #696969;
	padding: 0.5em;
	margin: 0 0.25em;
}

.imagem-header{
	width:58.35%;
	margin-top: 93px;
}

.img-crianças-main{
	 background-size: cover;
	height:50%;
}
#sobre{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background:url(Assets/02.jpg) center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}


.caixa-sobre{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	width: 30%;
	height: 45%;
	margin-right: 3%;
	border-radius: 20px;
}

.sobre-descrição{
	display: flex;
	align-items:center;
	justify-content: center;
	width: 85%;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.1em;
	
}

.sobre-titulo{
	
	width: 85%;
	color: #95989a;
	
}
.caixa-reciclagem .caixa-oficina-verde .caixa-colonia{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction:column;
	text-align:center;
	

}
	

.ação-imagem-colonia-de-ferias {width:90%;} 
.ação-imagem-oficina-verde {width:90%;}
.ação-imagem-reciclagem {width: 90%;}

.ações-imagens{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	margin:0 auto;
	width:80%; 
}

.descrição-oficina-de-reciclagem{
	margin:0px;
	display: flex;
	flex-direction: row;
	align-items: left;
	flex-wrap: wrap;
	width: 80%; 
	color: #95989a;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 1.56em;
	font-style: normal;
	line-height: 1.34em;
	letter-spacing: 0em;

}
.descrição-oficina-verde{
	margin:0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	color: #95989a;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.56em;
	font-style: normal;
	text-align:left;
	line-height: 1.34em;
	letter-spacing: 0em;
}
.descrição-colonia-de-ferias{
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	width: 70%; 
	font-family:'Source Sans Pro', sans-serif;
	font-size: 1.56em;
	font-style: normal;
	text-align:left;
	line-height: 1.34em;
	letter-spacing: 0em;
	color: #95989a;

}
.titulo-ação{
	
	margin: 10%;
	color: #95989a;
	margin-top: 30px;
}
.img-footer{
	width:100%; 
	height:50%;	

}
#contatos{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background:url(Assets/04.jpg) center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	margin-top: 10%;
}

.caixa-contato{
	/*position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction:row;
	flex-wrap: wrap;*/
	background-color: #363636;
	border-radius: 25px;
	width: 25.5%;
	height: 35%;
	opacity:0.70;
	color:#fff;
	top:10%;
	margin: 2.5%;	
}

footer div p{
	width: 40%;
	position: relative;
	left: -30%;
	margin-left: 50%;
	font-size: 1.30em;
	line-height:1em;
}

footer div h1{
	width: 45%;
	margin-left: 18%;
	
}
.contato-img {
	width: 60%;
	
	

}
.contato-logo{


	width: 90%;
	height: 50%;
}


.caixa-contato .contato-titulo{
	position: relative;
	left: 80px;
	color: #fff;
	top: 25px;
}

.caixa-contato .contato-descrição{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.0em;
	color: #ffffff;
	font-style: normal;
	text-align:left;
	line-height: 1.71em;
	letter-spacing: 0em;
	width: 30%;
	position: relative;
	top: 10px;
	left: 50px;
}

@media (max-width: 620px){
	.ações-imagens{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	 .ações-imagens img {  	
	  	margin: 0 auto;
		width: 100%;
	}

	.caixa-sobre {
		margin: 2em auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 60%;
	}

	.sobre-descrição{
		width: 80%;
		font-size: 1em;
		margin: 0;
	}

	 .menu li{
	
		flex-direction:row;
		width: 100%;
		height: 60%;
	}
	
	
	.caixa-contato{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-direction: center;		
		width: 70%;
		
	}
	.contato-img{
		width: 65%;
		padding: 3%;
	}
    
	
	 
	

}


	
	

