body{
	padding: 0;
	margin: 0;
	/*font-family:'Source Sans Pro', sans-serif;
	font-size: 0.94em;
	color: #00416d;
	font-style: normal;
	text-align: center;
	line-height: 0.8em;
	letter-spacing: 0em;*/
	
}

nav{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 35%;
	z-index: 4;

}
ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;


}
li{
	margin: 3%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width:90px;
	background-color:#fff;
	border-radius:50px;
	border:1px solid #696969;

}
.img01{
	width:58.35%; 
	height:350px;
	margin-left: 350px;
	margin-top: 93px;

}
.img02{
	width:100%; 
	height:50%;
}
.conteiner-sobre{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	background-color: #fff;
	top: 107%;
	left: 67%;
	width: 31%;
	height:60%;
	border-radius: 25px;
	z-index: 2;
}
.text-sobre{
	width: 340px;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.1em;
	position: relative;
	left: 10px;
	font-size: 1em;

	
}
.text-sobre-h2{
	position: relative;
	left: -132px;
	color: #95989a;
}
.img3{
	width:28.18%; 
	height:30%;
	margin: 20px;
	
}
.img2{
	width:28.18%; 
	height: 240px;
	margin: 20px;
}
.imagens{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 175px;

}
.oficina{
	margin: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	width: 20%; 
	position: relative;
	left: -199px;
	top: -23px;
	color: #95989a;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 1.56em;
	color: #95989a;
	font-style: normal;
	text-align:left;;
	line-height: 1.34em;
	letter-spacing: 0em;
}
.oficina1{
	margin:0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	width: 20%; 
	position: relative;
	left: -88px;
	top: -23px;
	color: #95989a;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.56em;
	color: #95989a;
	font-style: normal;
	text-align:left;
	line-height: 1.34em;
	letter-spacing: 0em;
}
.oficina2{
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	width: 20%; 
	position: relative;
	left: 57px;
	top: -23px;
	color: #95989a;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 1.56em;
	color: #95989a;
	font-style: normal;
	text-align:left;
	line-height: 1.34em;
	letter-spacing: 0em;
}
.ações{
	position: relative;
	left: 80px;
	color: #95989a;
	top: 40px;
}
.img4{
	width:100%; 
	height:50%;	

}
.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	background-color: #363636;
	top: 350%;
	left: 67%;
	width: 28.84%;
	height:40%;
	border-radius: 25px;
	z-index: 2;	
	opacity:0.70;
	flex-wrap: wrap;
}
.footer .imagem1{
	width: 30%;
	height: 30%;

}