body{
	padding: 0;
	margin: 0;
	/*font-family:'Source Sans Pro', sans-serif;
	font-size: 0.94em;
	color: #00416d;
	font-style: normal;
	text-align: center;
	line-height: 0.8em;
	letter-spacing: 0em;*/
}

#Home {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

nav{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 4%;
	z-index: 4;

}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	list-style: none;
}

.menu-item {
	margin: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width:90px;
	background-color:#fff;
	border-radius:50px;
	border:1px solid #696969;
}

.imagem-header{
	width:58.35%;
	margin-top: 93px;
}

.img-crianças-main{
	width:100%; 
	height:50%;
}
#sobre{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background:url(Assets/02.jpg);
	background-repeat: no-repeat;
	background-size: 100% ;
	height: 950px;

	
}


.caixa-sobre{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	width: 30%;
	height: 45%;
	margin-top: -20%;
	margin-right: 3%;
	border-radius: 20px;

}
.sobre-descrição{
	display: flex;
	align-items:center;
	justify-content: center;
	width: 330px;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.1em;
	

	
}

.sobre-titulo{
	display: flex;
	text-align: left;
	color: #95989a;
	
}

.ação-imagem-colonia-de-ferias{
	width:28.18%; 
	height:30%;
	margin: 20px;	
}

.ação-imagem-oficina-verde{
	width:28.18%; 
	height: 240px;
	margin: 20px;
}
.ações-imagens{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 175px;

}
.ação-imagem-reciclagem{
	width:28.18%; 
	height: 240px;
	margin: 20px;
}

.descrição-oficina-de-reciclagem{
	margin: 35px;
	display: flex;
	flex-direction: row;
	align-items: left;
	flex-wrap: wrap;
	width: 20%; 
	color: #95989a;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 1.56em;
	font-style: normal;
	line-height: 1.34em;
	letter-spacing: 0em;
}
.descrição-oficina-verde{
	margin:0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	width: 20%; 
	left: -88px;
	top: -23px;
	color: #95989a;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.56em;
	color: #95989a;
	font-style: normal;
	text-align:left;
	line-height: 1.34em;
	letter-spacing: 0em;
}
.descrição-colonia-de-ferias{
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	width: 20%; 
	color: #95989a;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 1.56em;
	color: #95989a;
	font-style: normal;
	text-align:left;
	line-height: 1.34em;
	letter-spacing: 0em;
	margin-left: 

}
.titulo-ação{
	
	margin-left: 80px;
	color: #95989a;
	margin-top: 50px;
}
.img-footer{
	width:100%; 
	height:50%;	

}
#contatos{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background:url(Assets/04.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 950px;

}
.caixa-contato{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction:row;
	flex-wrap: wrap;
	background-color: #363636;
	border-radius: 25px;
	width: 30%;
	height: 35%;
	opacity:0.70;
	color:#fff;
	top:11.10%;
	margin: 2.5%;	
}

footer div p{
	width: 40%;
	position: relative;
	left: -30%;
	margin-left: 50%;
	font-size: 1.30em;
	line-height:1em;
}

footer div h1{
	width: 45%;
	margin-left: 18%;
	
}
.contato-img {
	width: 50%;
	
	

}
.contato-logo{

	width: 90%;
	height: 50%;
	

}
/*.caixa-contato .logo-facebook{
	display: flex;
	justify-content:center;
	align-items: center;
	position: relative;
	width: 50%;
	left: 40px;
	top:10px;
}
.caixa-contato .logo-youtube{
	display: flex;
	justify-content:center;
	align-items: center;
	position: relative;
	width: 50%;
	left:90%;
	top:-63px;
}
.caixa-contato .logo-instagram{
	display: flex;
	justify-content:center;
	align-items: center;
	position: relative;
	width: 50%;
	left:40px;
	top: 58px;
}


.caixa-contato .contato-titulo{
	position: relative;
	left: 80px;
	color: #fff;
	top: 25px;
}

.caixa-contato .contato-descrição{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.0em;
	color: #ffffff;
	font-style: normal;
	text-align:left;
	line-height: 1.71em;
	letter-spacing: 0em;
	width: 30%;
	position: relative;
	top: 10px;
	left: 50px;*/
}

/*@media (max-width: 420px) {

	.img01{
		margin-left: 48%;
	}

	.img02{
		margin-left: -80%;
		width: 310%;
	}

	.conteiner-sobre{
		margin-left: -25%;
		width: 83%;
		height: 90%;
		margin-top: -110%;
	}

	.text-sobre{
		font-size: 2.0em;
	}

	nav{
		margin-left: -15%;
	}
}
*/